@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<nav class="it-account-nav">
    <a class="it-account-nav__link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
        <span>Profile</span>
        <span class="it-account-nav__meta">Name and phone</span>
    </a>

    <a class="it-account-nav__link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
        <span>Email</span>
        <span class="it-account-nav__meta">Verification</span>
    </a>

    <a class="it-account-nav__link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
        <span>Password</span>
        <span class="it-account-nav__meta">Security</span>
    </a>

    @if (hasExternalLogins)
    {
        <a id="external-login" class="it-account-nav__link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">
            <span>External logins</span>
            <span class="it-account-nav__meta">Connected apps</span>
        </a>
    }

    <a class="it-account-nav__link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">
        <span>Two-factor auth</span>
        <span class="it-account-nav__meta">Authenticator</span>
    </a>

    <a class="it-account-nav__link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">
        <span>Personal data</span>
        <span class="it-account-nav__meta">Export or delete</span>
    </a>
</nav>
